.list-group-item {
    background-color: #343a40 !important;/* to get a more specific tile background colour */
    border: none !important;
    margin-bottom: 1vh !important;
    border-radius: 11px !important;
}