body {
    background-color: #212529;
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.mobile-container {
    width: 60vh; /* Force mobile-ish width based on viewport height */
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.routine-list {
    margin: 20px;
    flex: 1;
}
.routine-item {
    display: flex;
    align-items: center;
    background-color: #343a40;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.routine-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.routine-item .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.routine-item .info .name {
    font-size: 1.2rem;
    font-weight: bold;
}
.routine-item .info .workout-name {
    font-size: 1.1rem;
    margin-top: 5px;
}
.routine-item .info .workout-details {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #adb5bd;
}
.routine-item .info .view-arrow {
    display: flex;
    justify-content: flex-end;
}
.routine-item .info .view-arrow a {
    color: #007bff;
    font-size: 1.2rem;
    text-decoration: none;
}
.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #343a40;
}
.button-container .btn {
    flex: 1;
    margin: 0 5px;
    min-width: 60px;
}
.btn-workout {
    background-color: #007bff;
    color: white;
}