stages:
  - deploy

deploy_job:
  stage: deploy
  script:
    - chmod +x /usr/local/bin/deployment-scripts/deploy_spring.sh
    - sudo /usr/local/bin/deployment-scripts/deploy_spring.sh
  only:
    - main  # Replace 'main' with the branch you want to trigger the deployment from
