<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<!-- fragments/navbar.html -->
<div th:fragment="bottomNavbar">
    <nav class="navbar navbar-dark bg-dark navbar-expand fixed-bottom p-0">
        <div class="container-fluid d-flex justify-content-around align-items-center">
            <!-- Home Button -->
            <a th:href="@{/home}" class="btn btn-dark d-flex justify-content-center align-items-center">
                <i class="fas fa-home fa-lg"></i>
            </a>

            <!-- Workout Button -->
            <a th:href="@{/myroutines}" class="btn btn-primary workout-btn position-relative">
                <i class="fas fa-dumbbell fa-3x"></i>
            </a>

            <!-- Profile Button -->
            <a href="/profile" class="btn btn-dark d-flex justify-content-center align-items-center">
                <i class="fas fa-user fa-lg"></i>
            </a>
        </div>
    </nav>
</div>
</body>
</html>

