<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Testing Data Input</title>

  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

</head>
<body>
  <div class="container">
    <h1>Welcome to EasyRep</h1>
    <p th:text="${prediction}">prediction</p>
    <form th:action="@{/test/sets}" method="post">
      <input type="hidden" name="deviceId" value="row" />
      <button type="submit" class="btn btn-primary btn-lg" th:text="${buttonText}">Test button</button>
    </form>

    <p>Test for git runner</p>
  </div>
</body>
</html>